

@media all and (min-width: 992px){  
 .left-content-slidebar{
	display: block !important;
}
}

@media all and (min-width: 1140px){
/*.left-content-slidebar {
	height: calc(100vh - 103px);
}*/

}

@media all and (max-width: 1164px){
.search-bar {
	width: 34rem;
}
}

@media all and (max-width: 1112px){
.search-bar {
	width: 30rem;
}
}

@media all and (max-width: 1060px){
.search-bar {
	width: 25rem;
}
}

@media all and (max-width: 992px){
.search-bar {
	width: 24rem;
}
}



@media all and (max-width: 991px){
.search-bar {
	display: none;
	position: absolute;
	right: 0; 
}

.new-class {
	column-count: 4;
}

.left-content-slidebar{
	display: none;
}
.header-menu-area{
	display: block;
}
.header-title-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #dadfea;
}

.header-title {
	padding: 1.5rem 0;
	border-bottom: none;
}

.header-menu-area {
	margin-right: .5rem;
	
}

.header-menu-area a {
	padding: .5rem 1rem;
	font-size: 1.8rem;
	border: 1px solid #2f364a;
	border-radius: 5px;
	color: #2f364a;
	cursor: pointer;
}

.header-menu-area a:hover{
	background: #15a4fa;
	color:#fff;

}

.left-content-slidebar {
	position: absolute;
	width: 100%;
	z-index: 10;
}

.navbar-hide-show{
	display: block;
}

.navbar-hide-show-button{
	margin-right: 1rem;
}

.navbar-hide-show-button a {
	padding: .5rem 1rem;
	border: 1px solid #fff;
	font-size: 2rem;
	color: #fff;
	border-radius: 5px;
}

.navbar-hide-show-button a:hover{
	background: #15a4fa;
}

.add-book{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-icon {
	display: inline-block;
	margin-right: 1rem;
}

.search-icon a {
	font-size: 2rem;
	color: #97b3ce;
}

.search-icon a:hover{
	color:#1f2637;
}

.search-icon a i{}

/*search-button-close*/
.search-close{
 	display: block;
 }
.search-close {
	position: absolute;
	top: 0;
	left: 12px;
}

.search-close a {
	font-size: 2rem;
	color: #8c97b2;
	background: transparent;
	border: none;
}

.search-close a i {
	line-height: 43px;
}

.search input[type="search"]{
	padding-left: 3rem;
}

}

@media all and (max-width: 767px){
.new-class {
	column-count: 3;
}

.search-bar{
	display: none !important;
}

.search-icon{
	display: none;
}

.search-icon-popup {
	margin-right: 1rem;
}

.search-icon-popup a {
	font-size: 2rem;
	color: #2f364a91;
}
.search-icon-popup a:hover{
	color:#1f2637;
}

.search-icon-popup{
	display: block;
}

.popup-search-bar{
	width: 38rem;
}

.popup-search input[type="search"]{
	width: 100%;
	padding: .6rem 1.3rem;
	box-sizing: border-box;
	border: 1px solid #cdd2df;
	border-radius: 27px;
	background: #fff;
	color: #b3bbcd;
	font-size: 1.8rem;
	outline: none;
	padding-left: 3rem;
}

.popup-search {
	position: relative;
}

.popup-search i:hover{
	color:#2f364a;
}

.popup-search button {
	position: absolute;
	top: 8px;
	right: 9px;
	background: transparent;
	border: none;
	font-size: 1.8rem;
	color: #b2bacc;
	 
}

.popup-search-bar {
	width: 30rem;
	margin: 0 auto;
}

.mfp-close-btn-in .mfp-close {
	 
	display: none;
}

}


@media all and (max-width: 612px){
	.right-side ul li:first-child a {
		margin-right: 0.5rem;
	}
}


@media all and (max-width: 575px){
.header-area {
	flex-direction: column;
}

.menu-area {
	align-items: normal !important;
}

.menu ul{
	flex-direction: column;

}

.menu ul li{
	margin-right: 0;
	margin-bottom: .5rem;
}

.right-side ul {
	flex-direction: column;
}

.left-content-slidebar {
	height: calc(100vh - 197px);	 
}
.filter-blog {
	height: calc(100vh - 443px);	
}

.left-side {
	padding-left: 0rem;
	margin-bottom: .5rem;
}
.middle-center {
	margin-bottom: .5rem;
}
.right-side ul li:nth-child(3) {
	padding: .8rem 0;
	border-radius: 0 5px 0 5px;
}

.right-side ul li:hover > ul {
	top: 49px;
}
	.new-class {
		column-count: 2;
	
	}
}


 
