html{
	font-size: 62.5%;
}

body{
	overflow-x: hidden;
	margin: 0;
	font-size: 1.4rem;
	font-weight: 400;
	font-family: 'Proxima Nova Rg';
}


ul{
	margin: 0;
	padding:0;
	list-style: none;
}


a{
	text-decoration: none;
	display: inline-block;
}

h1{
	font-size: 2rem;
	font-weight: 400;
	color:#FFF;
}


h2{
	font-size: 1.6rem;
	font-weight: 400;
	color:#FFF;
}

p {
	font-size: 1.4rem;
	color:#FFF;
	 
}

   /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  /*!!!!! 1Header area Css !!!!!*/
 /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.header-section {
	background: #2f364a;
}

.header-area{}


.left-side {
	padding-left: 2rem;
}

.left-side ul li span {
	width: 1.3rem;
	height: 1.3rem;
	background: red;
	display: block;
	border-radius: 50%;
	margin-right: .5rem;
}

.left-side ul li:last-child span{
	margin-right: 0px;
}

.left-side ul li span:last-child{
	margin-right: none;
}

.left-side ul li:nth-child(1) span{
	background: #e76847;
}

.left-side ul li:nth-child(2) span{
	background: #fabf00;
}

.left-side ul li:nth-child(3) span{
	background: #52bea6;
}

.middle-side ul li a {
	font-size: 18px;
	color: #78829d;
}

.middle-side ul li a i {
	margin-right: 1rem;
}

.right-side ul li a {
	font-size: 18px;
	color: #69738c;
	margin-right: 1rem;
}

.right-side ul li:nth-child(3) {
	background: #15a4fa;
	padding: 3rem 0;
	font-size: 1.8rem;
	color: #ffffff;
}

.right-side ul li span {
	margin-right: 1rem;
	margin-left: 1rem;
}

.last-child{
	width: 2rem;
	display: inline-block;
	height: 2rem;
	background: #ffffff;
	border-radius: 50%;
	text-align: center;
	color: #15a4fa;
	line-height: 0px;
	margin-right: 2rem;
}

.right-side ul li:last-child span i {
	line-height: 22px;
}

.right-side ul li{
	position: relative;
	z-index: 100;
}

.right-side ul ul li {
	text-align: center;
	font-size: 1.8rem;
	color: #78829d;
	cursor: pointer;
	padding: 1rem 1rem;
	border-radius: 200px;
	margin: 1rem 0;

}

.right-side ul ul li:hover{
	background: #eef1f7;
	color:#78829d;
}

.right-side ul ul{
	display: none;
}


.right-side ul li:hover > ul {
	display: block;
	position: absolute;
	top: 88px;
	right: 0;
	background: #2f364a;
	width: 100%;
}

 
   /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  /*!!!!! 2 Main content leftslide Css !!!!!*/
 /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.left-content-slidebar {
	background: #1f2637;
	position: fixed;
	width: 25%;
	top: 92px;
	left: 0;
	right: 0;
	bottom: 54px;
	overflow: auto;
}


.right-content-slidebar {
	position: fixed;
	top: 92px;
	right: 0px;
	left: 342px;
	bottom: 70px;
	overflow: auto;
}

.footer-section {
	background: #2f364a;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.left-content-slidebar {
	background: #1f2637;
}

.add-book {
	border-bottom: 5px solid #19202e;
}

.add-book-button {
	padding: 1rem 3rem;
	background: #f2795a;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	border-radius: 5px;
	margin: 4rem 0;
	margin-left: 4rem;
}

.add-book-button:hover{
	background: #15a4fa;
	color:#ffffff;
}

.add-book-button i {
	margin-right: 1.5rem;
}

.add-book-button:hover i{
	color:#ffffff;
}

/*main nav*/
.main-nav {
	padding: 4rem 0;
	border-bottom: 5px solid #19202e;
}

.main-nav ul {
	flex-direction: column;
}

.main-nav ul li a {
	color: #78829d;
	font-size: 1.6rem;
	display: block;
	padding: 1rem 4rem;
}

.main-nav ul li a:hover {
	background: #15a4fa;
	color:#ffffff;
}

.main-nav ul li a:hover: i{
	color:#ffffff; 
}

.main-nav ul li a i {
	margin-right: 1rem;
}

/*personal cateogories css sub*/
.personal-category {
	padding: 4rem 0;
	border-bottom: 5px solid #19202e;
}

.personal-category ul{
	flex-direction: column;
}

.personal-category ul li a {
	font-size: 1.6rem;
	margin: 1rem 0;
	color: #78829d;
}

.personal-category ul li a:hover{
	color:#ffffff;
}

.personal-category ul li a span {
	width: 1rem;
	height: 1rem;
	display: inline-block;
	background: red;
	border-radius: 50%;
	margin-right: 1rem;
	margin-left: 4rem;
}

.personal-category ul li:nth-child(1) span{
	background: #e64c66;
}

.personal-category ul li:nth-child(2) span{
	background: #ffab00;
}

.personal-category ul li:nth-child(3) span{
	background: #01b9d7;
}

.personal-category ul li:nth-child(4) span{
	background: #7874cf;
}

.personal-category ul li a:nth-child() span{
	background: #ffab00;
}

/*history css*/

.history {}

.history ul{
	flex-direction: column;
}

.history ul li {
	color: #677b92;
	font-size: 1.6rem;  
	margin: 1rem 0;
	margin-left: 4rem;
	display: flex;
}

.history ul li i {
	display: inline-block;
	flex: 0 0 24px;
	line-height: 27px;
}


.history ul li span p {
	color: #545d74;
}

/*Filter and result the content book*/

.row{
	margin: 0;
	--bs-gutter-x: 0rem;
}

.filter-and-result {
	background: #eef1f7;
}

.header-title {
	padding: 3rem 0;
	border-bottom: 1px solid #dadfea;
}

.header-title h1 {
	color: #5b6277;
	margin-left: 2rem;
}

.filter-search{}

.menu-area {
	padding: 2rem 1rem;
}

.menu {}

.menu menu ul {}

.menu ul li {
	padding: .5rem 2rem;
	font-size: 1.8rem;
	color: #97b3ce;
	transition: .5s;
	cursor: pointer;
}

.menu ul li:hover {
	background: #97b3ce;
	color: #ffffff;
	border-radius: 43px;
}

.search-bar {
	width: 38rem;
}

.search input[type="search"] {
	width: 100%;
	padding: .6rem 1.3rem;
	box-sizing: border-box;
	border: 1px solid #cdd2df;
	border-radius: 27px;
	background: #fff;
	color: #b3bbcd;
	font-size: 1.8rem;
}

.search {
	position: relative;
}

.search button {
	position: absolute;
	top: 8px;
	right: 9px;
	background: transparent;
	border: none;
	font-size: 1.8rem;
	color: #b2bacc;
}

.single-item {
	display: inline-block;
	margin-bottom: 1rem;
}

.filter-blog {
	margin-left: 2rem;
	margin-top: 2rem;
	column-count: 5;
	overflow: hidden;
}

.filter-img {
	width: 100%;
	height: auto;
}

.filter-img img{
	width: 100%;
	height: auto;
	object-fit: cover;
}

.filter-content {}

.filter-content h1 {
	color: #50586d;
	margin-top: 1rem;
}

.filter-content h2{
	margin-top:.5rem;
	color:#50586d;
}

.filter-content ul li{}

.filter-content ul li i {
	color: #ffab00;
}

   /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  /*!!!!! 3 Footer section  Css !!!!!!!!!!!!*/
 /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.footer-section{
	background: #2f364a;
}

.footer-content {}

.footer-content ul li a {
	font-size: 2rem;
	color: #ffffff;
	padding: 3rem 2rem;
}

.footer-content ul li:first-child a{
	padding:1.5rem 1.5rem;
	background:#1f2637;
}

.footer-content ul li:last-child a{
	padding:1.5rem 1.5rem;
	background: #15a4fa;
}